.colunas {
    background-color: chartreuse;
    margin: 50px;
    height: 700px;
    display: flex;
}

.coluna {
    background-color: darkmagenta;
    margin: 10px;
    width: 300px;
    padding: 0 10px 5px 10px;
}