.container_tarefa{
    background-color: #17B890;
    border-radius: 4px;
}

.title_container{
    display: flex;
    flex-direction: row;
}

.title_container h2{
    width: 200px;
}
.btn_container{
    width: 100px;
    display: flex;
    align-items: flex-end;
}
.btn_container button{
    height: 30px;
    width: 30px;
    margin-left: 3px;
    margin-top: 10px;
    background-color: #17B89d;
    border: 1px solid black;
}
.btn_container button:hover{
    cursor: pointer;
}


h2{
    font-size: 20px;
    text-indent: 5px;
}

p{
    text-indent: 5px;
    word-wrap: break-word;
    padding: 0px 5px 5px 5px;
}

